@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'IBM Plex Mono', monospace;
}

.text-center {
    margin-left:auto; 
    margin-right:auto;
    text-align:center;
}

.container {
    width:50%;
    max-width:600px;
    margin-left:auto;
    margin-right:auto;
}

.header {
    margin-top:1rem;
    font-size:3rem;
}


.header2 {
    margin-top:1rem;
    font-size:1.5rem;
    margin-bottom:1rem;
}

.link-btn {
    font-family: 'IBM Plex Mono', monospace;
    width:100%;
    color:black;
    background-color: white;
    border: 1px solid black;
    height:4rem;
    cursor:pointer;
    border-radius:0.5rem;
    box-shadow: 5px 5px black;
    font-size:1rem;
}

.link-btn:hover {
    color:white;
    background-color: black;
    border: 1px solid white;
    transition:200ms
}

.btn-section {
    margin-top:1rem;
    margin-bottom:1rem;
}


.highlighted {
    background-color: #ff90e8;
}


@media only screen and (max-width: 600px) {
    .container {
        width:90%;
    }
  }